@import "tailwindcss";

.text-glow-pink {
  text-shadow: 0 0 5px #FF00FF, 0 0 10px #FF00FF, 0 0 20px #FF00FF;
}

.text-glow-green {
  text-shadow: 0 0 5px #39FF14, 0 0 10px #39FF14, 0 0 20px #39FF14;
}

.text-glow-blue {
  text-shadow: 0 0 5px #00FFFF, 0 0 10px #00FFFF, 0 0 20px #00FFFF;
}
.text-glow-purple {
  text-shadow: 
    0 0 5px #BF00FF, 
    0 0 10px #BF00FF, 
    0 0 20px #BF00FF, 
    0 0 40px #BF00FF;
}

.text-neon-white {
  color: #FFFFFF;
  text-shadow:
    0 0 5px #FFFFFF,
    0 0 10px #FFFFFF,
    0 0 20px #FFFFFF,
    0 0 40px #FFFFFF;
}
